
{{$cat := .category}}
<ul id={{add .category "-list"}} class="hide">
  {{ range where .context.Data.Pages "Type" "post" }}
  	{{ if eq .Params.Category $cat }}
  		<li>
        <a href="{{ .Permalink }}" class="">
          {{if gt (len .Title) 25}}
          	<span class="">{{ add (slicestr .Title 0 25) ".."}} <span/>
          {{else}}
          	<span class="">{{ .Title }} <span/>
          {{end}}
        </a>
        <span class=""> &nbsp;{{ .Date.Format "2006" }}</span>
  		</li>
  		{{end}}
  {{ end }}
</ul>
