<nav class="">

	<!-- Logo -->

	<!-- Primary Nav -->
	<ul class="">
		<li><span class="about-btn">About</span></li>

		<li><span onclick="toggleFiction()" class="about-btn">Fiction</span></li>
			{{  partial "nav-list" (dict "context" . "category" "fiction")}}

		<li><span onclick="toggleInterviews()" class="about-btn">Interviews</span></li>
		{{  partial "nav-list" (dict "context" . "category" "interviews")}}

		<li><span onclick="toggleEssays()" class="about-btn">Essays</span></li>
		{{  partial "nav-list" (dict "context" . "category" "essays")}}

		<li><span onclick="toggleAcademic()" class="about-btn">Academic</span></li>
		{{  partial "nav-list" (dict "context" . "category" "academic")}}

		<li><span onclick="toggleOther()" class="about-btn">Other</span></li>
		{{  partial "nav-list" (dict "context" . "category" "other")}}
	</ul>

</nav>

<script src=""></script>
