body{
  font-family: 'EB Garamond', serif;
  background: #D7EDB9

}
.header {
  width:  300px;
}
.hide{
  display: none
}

.show{
  display: block
}
.home-img{
  width: 100%;

}
.container {
  display: flex;
}
.nav-bar {
  padding: 0 10px;

}
.wrapper {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

li {
  position: relative;
  list-style: none;
}
ul {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
li:before {
  content: "*";
  position: absolute;
  left: -15px;
  bottom: -3px;
}
.underline {
  text-decoration: underline;
}
