body{
  font-family: 'EB Garamond', serif;
  font-size: 18px;
  background: #D7EDB9

}
.header {
  width:  300px;
  margin-bottom: 20px;
}
.hide{
  display: none
}

.show{
  display: block
}
.home-img{
  width: 100%;
}

.container {
  display: flex;
}
.nav-bar {
  padding: 0 10px;
  line-height: 1.8;
}
.wrapper {
    max-width: 900px;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 60px;
}

li {
  position: relative;
  list-style: none;
}
ul {
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
}
li:before {
  content: "*";
  position: absolute;
  left: -15px;
  bottom: -3px;
}
.underline {
  text-decoration: underline;
}
.title {
  font-size: 24px;
}

.text-body{
  margin-left:10px;

}
