{{ partial "head" . }}

<div class="wrapper">
  <div class="container">
    {{ partial "nav" . }}


    <div class="text-body">
        <img src="/img/tara.JPG" class="home-img" alt="">      <div>
      </div>
      <div>
          <div>
              <p>Hello! I’m Tara Kenny, a culture writer based in New York. My work has been published in Interview Magazine, i-D, The Guardian, Paper, Brooklyn Magazine, Gossamer, The Saturday Paper, The Monthly, The Age, The Sydney Morning Herald, Frankie, and numerous zines and independent publications. I have a Master of International Relations from the University of Melbourne and a Bachelor of Professional Communications from RMIT University. </p>

              <p>Follow me @slurpette on <a href="https://www.instagram.com/slurpette/">IG</a> and <a href="https://twitter.com/slurpette">Twitter</a> and reach me at <a href = "mailto: wordsbytara@gmail.com">wordsbytara@gmail.com</a></p>

          </div>
      </div>

      {{ partial "blog" . }}
    </div>
  </div>
<div>
