{{ partial "head" . }}

<div class="wrapper">
  <div class="container">
    {{ partial "nav" . }}

    <div class="text-body">
      <img src="/img/tara2.jpg" class="home-img" alt="" />
      <div></div>
      <div>
        <div>
   <p>Hello! I’m Tara Kenny, an arts and culture writer and critic based in Naarm/Melbourne. Highbrow analysis of lowbrow culture and how women use and are portrayed in the media are recurring fixations in my work.</p>
   <p>Say hello at <a href="mailto:wordsbytara@gmail.com">wordsbytara@gmail.com</a></p>
</div>

        {{ partial "blog" . }}
      </div>
    </div>
    <div></div>
  </div>
</div>
