{{ partial "head" . }}

<div class="wrapper">
  <div class="container">
    {{ partial "nav" . }}


    <div class="text-body">
        <img src="/img/tara.JPG" class="home-img" alt="">      <div>
      </div>
      <div>
          <div>
              <p>Hello! I’m Tara Kenny, a writer based in New York. My work has been published in Brooklyn Magazine, The Saturday Paper, Frankie, Gossamer, The Guardian, Paper Magazine, Interview Magazine and elsewhere.</p>

              <p>Follow me <a href="https://www.instagram.com/crypto_wag/">@crypto_wag</a> and <a href="https://twitter.com/wordsbytara">@wordsbytara</a> and reach me at wordsbytara@gmail.com.</p>

          </div>
      </div>

      {{ partial "blog" . }}
    </div>
  </div>
<div>
